@charset "UTF-8";
:root{
    --brack:#4C4C4C;
    --blue:#689FCB;
    --green:#4AA3B3;
}
html{
    font-size: 62.5%;
}
img{
    max-width: 100%;
}
body{
     font-family: "Noto Sans JP", sans-serif;
  font-weight:400;
  font-style: normal;
  line-height: 2;
  color: white;
  background-color: var(--blue);
      opacity: 0;
  transition: opacity 0.8s ease;
}
body.loaded {
  opacity: 1;
}
.feedIn{
    transform: translate(0, 50px);
    opacity: 0;
    transition: 0.8s;
}
.feedIn.animated{
    transform: translate(0, 0);
    opacity: 1;
}  
.fixed-btn {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background: orange;
  color: #fff;
  padding: 25px 20px;
  border-radius: 120px;
  font-size: 11px;
  font-weight: 700;
  box-shadow: 0 7px 10px rgba(0,0,0,0.25);
  text-decoration: none;
  z-index: 100;
  transition: 0.3s;
  text-align: center;
  display: block;
  width: 100px;
  height: 100px;
  border: white 2px solid;
}
.nav__btn1{

  
  background:rgba(243, 152, 29, .9);
  color: #fff;
  padding: 14px 20px;
  border-radius: 30px;
  font-size: 22px;
  box-shadow: 0 7px 10px rgba(0,0,0,0.25);
  text-decoration: none;
  transition: 0.3s;
  text-align: center;
  display: block;
  width: 250px;
  height: 80px;
  font-weight: 600;
  border: white 2px solid;
}

.fixed-btn:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 14px rgba(0,0,0,0.35);
}
 
.loader {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  z-index: 555;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader__img{
    display: block;
    width: 50%;
    height: auto;
}
/* pc comon */
@media screen and (min-width:769px) {
  body{
    line-height: 2.4;
  }  
  .fixed-btn {
  padding: 28px 20px;
  border-radius: 120px;
  font-size: 18px;
  width: 140px;
  height: 140px;
}
.loader__img{
    display: block;
    width: 30%;
    height: auto;
}
}
/* header */
.header__group{
    display:block;
    width: 100%;
    justify-content: space-between;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
}
.header__logo{
    flex-direction: column;
    display: flex;
    gap: 30px;
    margin: 10px;
    position: absolute;
    right: 10px;
    top: 10px;
}
.logo{
    display: block;
    width: 100px;
    height: 44px;
    margin: 10px;
}
.header__btn,.instalogo,.mail{
    display: block;
    width: 30px;
    height: 30px;

}
.nav{
    background-color: rgba(81, 165, 232, .8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-size: 20px;
    align-items: center;
    transition: .4s;
    transform: translateX(-100%);
    z-index: 200;
}
.nav.active{
    transform: translateX(0);
}
.nav :first-child{
    margin-top: 80px;
}
.close{
    display: block;
    width: 30px;
    height: auto;
    position: absolute;
    right: 10px;
    top: 10px;
}
@media screen and (min-width:769px) {
    .nav{
        font-size: 30px;
    }
    .header__btn,.instalogo,.mail{
    width: 50px;
    height: 50px;
}
.nav__btn1{
  color: #fff;
  padding: 2px 20px;
  border-radius: 30px;
  font-size: 30px;
  box-shadow: 0 7px 10px rgba(0,0,0,0.25);
  text-decoration: none;
  transition: 0.3s;
  text-align: center;
  display: block;
  width: 300px;
  height: 80px;
  font-weight: 500;
}
.close{
    width: 50px;
    height: auto;
}
.logo{
    width: 200px;
    height: 88px;
    margin: 10px;
}
.header__logo{
    gap: 50px;
}
}
/* article */

.mv{
    position: relative;
    width: 100%;
}
.mainsp{
    width: 100%;
    display: block;
}
.sizuku1{
    position: absolute;
  bottom: 10px;
    right: 40px;
    display: block;
    width: 50px;
    height: 50px;
}
.fukidasi{
    display: block;
    width: 70px;
    height: 50px;
    position: absolute;
    bottom: 55px;
    right: 40px;
}

@media screen and (min-width:769px) {
    .sizuku1{
    position: absolute;
  bottom: 10px;
    right: 40px;
    display: block;
    width: 180px;
    height: 180px;
}
.fukidasi{
    bottom: 170px;
    right: 90px;
    width: 130px;
    height: 100px;
}
}
/* concept */
.concept{
    background-color:white;
    padding: 100px 15px 20px;
    border-radius: 15px;
    margin: 20px 10px;

}
.concept__title{
    font-size: 36px;
    color: var(--brack);
    background-image: url(./image/ao.png);
    background-repeat: no-repeat;
    background-size: contain;
    font-weight: 700;
text-align: center;
background-position: center;
}
.concept__topic{
    font-size: 20px;
    text-align: center;
    margin-top: 40px;
    color: var(--brack);
}
.concept__topic span{
    color: var(--blue);
}
.concept__txt{
    font-size: 16px;
    color: var(--brack);
    margin-top: 20px;
}
.concept__txt span{
    color: var(--blue);
    font-size: 18px;
}
.concept__group{
    display: flex;
    flex-direction: column-reverse;
}
.foto1{
    margin-top: 30px;
}
.btn{
    color: var(--blue);
    display: block;
    width: 145px;
    height: 60px;
    font-size: 16px;
    text-align: center;
    font-weight: 700;
    padding: 12px 15px;
    border-radius: 45px;
    outline: var(--blue) 4px solid ;
    margin: 50px auto;
}
.btn2{
    color: white;
    width: 260px;
    height: 80px;
    background-color: orange;
    font-size: 22px;
    font-weight: 700;
    border-radius: 35px;
    display: block;
    margin: 40px auto;
    padding: 13px 30px;
    border: white 1px solid;
}
@media screen and (min-width:1000px) {
    .concept{
        padding-top: 150px;
    }
    .concept__topic{
        font-size: 34px;
    }
    .concept__group{
        flex-direction: row;
    }
    .concept__txt{
        font-size: 22px;
        display: block;
        min-height: 440px;
        margin-right: 15px;
        line-height: 2.6;
    }
    .concept__txt span{
        font-size: 28px;
    }
    .foto1{
        width: 50%;
    }
    .btn{
        font-size: 22px;
        width: 170px;
        height: 75px;
        margin-top: 80px;
    }
}
.therapy{
    padding: 0px 10px;
}
.therapy__title{
    font-size: 36px;
    text-align: center;
    font-weight: 700;
    background-image: url(./image/siro.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 100px;
}
.therapy__topic1{
    font-size: 24px;
    color: var(--blue);
    font-weight: 700;
}
.therapy__topic2{
    font-size: 24px;
    color: var(--blue);
    font-weight: 700;
}
.therapy__topic3{
    margin-top: 20px;
    font-size: 20px;
}
.logo2{
    display: block;
    width: 50px;
    height: 50px;
}
.therapy__group3{
    display: flex;
    gap: 15px;
}
.therapy__group2{
    display: flex;
    margin-top: 40px;
    gap: 15px;
}
.therapy__item{
    background-color: white;
    border-radius: 15px;
color: var(--brack);
padding: 30px 15px;
margin-top: 30px;
}
.time2{
    font-size: 18px;
    margin-top: 20px;
}
.therapy__txt{
    margin-top: 20px;
    font-size: 16px;
}
.therapy__group4{
    display: flex;
    gap: 15px;
    margin-top: 20px;
}
.ryoukin{
    font-size: 24px;
    color: var(--blue);
    font-weight: 700;
}

.therapy__img{
    display: block;
    width: 90%;
    height: auto;
    margin:20px auto;
}
.therapy__img2{
    display: none;
}
.sizuku3{
    display:block;
    width: 70%;
    margin: 30px auto;
    
}
@media screen and (min-width:1200px) {
    .therapy__title{
        margin-top: 150px;
    }
    .therapy__item{
        font-size: 22px;
        margin-top: 70px;
        display: flex;
        justify-content: center;
    }
    .therapy__img{
        display: none;
    }
    .therapy__img2{
        display: block;
        width: 50%;
        height: 50%;
        margin: auto;
    }
    .logo2{
        width: 70px;
        height: 70px;
    }
    .therapy__topic1{
        font-size: 38px;
    }
    .therapy__topic3{
        font-size: 28px;
    }
    .time2{
        font-size: 22px;
    }
    .therapy__txt{
        font-size: 24px;
    }
    .therapy__group4{
        margin-top: 70px;
    }
    .therapy__group3{
        margin-top: 50px;
    }
    .therapy__group2{
        margin-top: 50px;
    }
}
/* news */
.news{
    padding: 15px;
    position: relative;
}
.news__item1{
    margin: 40px 0;
}
.news__item{
    display: none;
}
.news__title{
    font-size: 36px;
    text-align: center;
    background-image: url(./image/siro.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 100px;
    font-weight: 700;
}
.news__img1{
    display: block;
    width: 100%;
    height: auto;
    margin: 40px auto;
    max-width: 650px;
}
.news__tag{
    background-color: white;
    color: var(--blue);
    padding: 5px 10px;
}
.news__date{
    font-size: 14px;
    display: flex;
    gap: 40px;
    justify-content:left;
    align-items: center;
}
.news__txt{
    font-size: 16px;
}
.news__item:hover{
    opacity: .5;
}
.news__more{
    position: absolute;
    bottom: -20px;
    right: 50%;
    display: block;
    width: auto;
    height: auto;
    text-decoration: underline;
    font-size: 26px;
    font-weight: 700;
    text-align: center;
    transform: translateX(50%);
}

@media screen and (min-width:1000px) {
    .news__item{
        display: block;
        width: 30%;
        height: auto;
        margin-top: 40px;
    }
    .news__item1{
        display: block;
        width: 30%;
        height: auto;
    }
    .news__list{
        display: flex;
        justify-content: space-between;
    }
    .news__more{
        font-size: 30px;
        margin-top: 30px;
    }
}
/* enent */
.event{
    margin-top: 70px;
    padding: 0 10px;
}
.event__title{
    font-size: 36px;
    text-align: center;
    background-image: url(./image/siro.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 100px;
    font-weight: 700;
}
.event__group{
    background-color: white;
    border-radius: 15px;
    padding: 15px 15px;
    color: var(--brack);
    margin-top: 30px;
}
.event__topic{
    font-size: 24px;
    margin-top: 20px;
}
.event__txt{
    font-size: 16px;
    margin-top: 30px;
}
.event__group1{
    display: flex;
    gap: 15px;
}
.event__container{
    display: flex;
       background-color: white;
    border-radius: 15px;
    padding: 15px 15px;
flex-direction: column;
margin-top: 60px;
}
.insta{
display: block;
width: 30%;
height: auto;
margin: 40px auto;
transition: .4s;
}
.insta:hover{
    opacity: .7;
}
.sizuku2{
    display: block;
    width: 80%;
    height: auto;
    margin: 40px auto;
}
@media screen and (min-width:1000px) {
    .title{
        font-size: 45px;
    }
    .event__group{
        margin-top: 30px;
    }
    .event__topic{
        font-size: 40px;
    }
    .event__txt{
        font-size: 22px;
    }
    .insta{
        margin-top: 60px;
    }
    .event__container{
    display: flex;
       background-color: white;
    border-radius: 15px;
    padding: 15px 15px;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 90px;
}
}
/* footer */
.footer{
    margin-top: 50px;
}
.footer__logo{
    display: block;
    width: 80%;
    height: auto;
    margin: auto;
}
.footer__nav{
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 14px;
    margin: 30px 10px;
}
.copy{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    margin: 20px;
}
@media screen and (min-width:970px) {
    .footer{
        display: flex;
  
    }
    .footer__logo{
        width: 350px;
        height: auto;
        margin: 20px;
    }
    .footer__nav{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin: 0 20px;
        font-size: 18px;
    }
}